@import "./variables";

body {
  background-color: $french-sky-blue;
  background-image: $background-img;
  background-attachment: fixed;
  background-size: cover;

  font-family: $body_font;
  z-index: 1;
  
}
