@import "./variables";

.nav_button {
  background-color: $space-cadet;
  border-radius: 5px;
  display: inline-block;
  color: $french-sky-blue;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav_button:hover {
  transform: scale(1.05);
  color: $clearest-one;
}

.nav_button:active {
  position: relative;
  top: 1px;
  color:white!important;
}
