@import "./variables";

footer {
  height: 150px;
  background-color: $indigo-dye;
  border-top: 2px solid $darkest-one;
  color: $clearest-one;
}

@media screen and (max-width:501px) {
  footer {
    height:auto;
    width:auto;
  }
}


.my_footer_text{
  color:$french-sky-blue;
}

.my_footer_text:hover{
  color:$clearest-one;
}
