@import "./variables";

nav {
  background-color: $nav-italian-sky-blue;
  display: block;
  border-bottom: solid 2px $darkest-one;
  ul {
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
    display: flex;

    li {
      margin-right: 10px;
    }
  }
}

.my_logo {
  width: 110px;
  height: auto;
  color: $space-cadet;
}

.my_nav_link {
  color: $space-cadet !important;
}

.my_nav_link:hover {
  color: $clearest-one !important;
}

.nav_social_icons {
  margin-left: 4%;
  color: $space-cadet !important;
}

.nav_social_icons:hover {
  color: $clearest-one !important;
  scale: 120%;
}

@media screen and (max-width: 992px) {
  .nav_social_icons:hover {
    scale: 100%;
    
  }
}

.bi-list{
  font-size: 30px;

}
